<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key_News</key>
	<string>b3550e00384f44088ebea9b04b11eff9</string>
	<key>Key_Weather</key>
	<string>d73a8ac5bf5a24c8b2dd5d20e528913e</string>
	<key>Key_Air</key>
	<string>fj6i2033ikatr8vt8kabmdgghc</string>
</dict>
</plist>
